
<div class="chatContainer">
    <h1>Chat</h1>
    <div class="chatBottom">
        <ul id="ulMensaje" class="ulMensaje"></ul>
        <form id="formMensaje" class="formMensaje">
            <input type="text" name="mensaje" id="inputMensaje" class="inputMensaje" placeholder="Escribir un mensaje...">
            <button type="submit" id="buttonMensaje" class="buttonMensaje">Enviar</button>       
        </form>
    </div>
    
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.client.js"></script>